@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Merriweather:ital,wght@1,300&display=swap");
*{
 margin: 0;
 padding: 0;
}
body{
 background-image: url(http://bit.ly/2gPLxZ4); 
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
#secondary-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#secondary-top > div {
  margin: 10px 10px 0 0;
  padding: 10px;
}

#secondary-top > div:nth-child(4n) {
  margin-right: 0;
}

#secondary-top::after {
  content: "";
  flex: auto;
}

#secondary-top > div:nth-child(-n + 4) {
  margin-top: 0;
}
#search-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  font-family: "Fira Sans", sans-serif;
  border: none;
  padding: 5px 5px;
  color: white;
  background: inherit;
  box-shadow: 5px 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
input[type="text"] {
  font-family: "Fira Sans", sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/*DASHBOARD DIVISION*/
#container {
}
#primary {
  float: left;
  width: 30%;
  margin: 10px;
  background: inherit;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-attachment: fixed;
  overflow: hidden;
}

#secondary {
  display: flex;
  flex-direction: column;
  float: left;
}
#secondary-top {
  flex: 1;
  margin: 10px;
  background: inherit;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
}
#secondary-bottom {
  flex: 1;
}
#tertiary {
  float: left;
  width: 30%;
}

#footer {
  clear: both;
}
#temperatures{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}
.title-section{
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
   width: 100%;
  color: rgb(13, 129, 238);
  background-color: rgb(2, 77, 100);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#coordinates{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  color: white;
}